<!DOCTYPE html>
<html>
<head>
    <title>Fluxchat</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <meta name="protocol" content="<%= ENV['CABLE_PROTOCOL'].presence || 'ws' %>" />
    <meta name="host" content="<%= ENV['CABLE_URL'].presence || request.host %>" />
    <meta name="port" content="<%= ENV['CABLE_PORT'].presence || '28080' %>" />
    <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
